@model SV22T1020761.Models.Common.PagedResult<SV22T1020761.Models.Sales.OrderViewInfo>
@{
    ViewData["Title"] = "–ın h‡ng c?a tÙi";
}

<h3>@ViewData["Title"]</h3>
<div>
    <table class="table">
        <thead>
            <tr><th>M?</th><th>Th?i gian</th><th>Kh·ch h‡ng</th><th>Tr?ng th·i</th><th>T?ng</th><th></th></tr>
        </thead>
        <tbody>
            @foreach(var o in Model.DataItems)
            {
                <tr>
                    <td>@o.OrderID</td>
                    <td>@o.OrderTime</td>
                    <td>@o.CustomerName</td>
                    <td>@o.Status</td>
                    <td>@o.TotalAmount</td>
                    <td><a asp-controller="Orders" asp-action="Details" asp-route-id="@o.OrderID" class="btn btn-sm btn-primary">Chi ti?t</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
}
