@model SV22T1020761.Models.Catalog.Product
<div class="row">
    <div class="col-md-5">
        @{
            var nophoto = Url.Content("~/admin-images/products/nophoto.png");
        }
        @if (!string.IsNullOrEmpty(Model.Photo))
        {
            <img src="@Url.Content("~/admin-images/products/" + Model.Photo)" class="img-fluid" onerror="this.onerror=null;this.src='@nophoto'" />
        }
        else
        {
            <img src="@nophoto" class="img-fluid" />
        }
    </div>
    <div class="col-md-7">
        <h4>@Model.ProductName</h4>
        <p>@Model.ProductDescription</p>
        <p><strong>Giá:</strong> @Model.Price</p>
        <form method="post" asp-controller="Cart" asp-action="Add" class="d-inline">
            @Html.AntiForgeryToken()
            <input type="hidden" name="productId" value="@Model.ProductID" />
            <input type="number" name="qty" value="1" min="1" class="form-control mb-2" style="width:100px;display:inline-block;" />
            <button class="btn btn-success">Thęm vŕo gi?</button>
        </form>
    </div>
</div>