@model PagedResult<SV22T1020761.Models.Supplier>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Supplier Name</th>
            <th>Contact Name</th>
            <th>Province</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var supplier in Model.DataItems)
        {
            <tr>
                <td>@supplier.SupplierID</td>
                <td>@supplier.SupplierName</td>
                <td>@supplier.ContactName</td>
                <td>@supplier.Province</td>
                <td>@supplier.Address</td>
            </tr>
        }
    </tbody>
</table>

<div>
    <span>Page @Model.Page of @Model.PageCount</span>
</div>